{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'todolist/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>{% block title %}Список задач{% endblock %}</title>
</head>

<body>
    {% block header %}
    {% endblock %}

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 overflow-scroll">
                <div class="col col-xl-10">

                    <div class="card">
                        <div class="card-body p-5">

                            {% include 'inc/_tabs_navs.html' %}

                            <!-- Tabs content -->
                            <div class="tab-content" id="ex1-content">
                                {% block main %}
                                {% endblock %}
                            </div>
                            <!-- Tabs content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'inc/_footer.html' %}
</body>

</html>